<h1 id="imgur-rest-image-uploader">Imgur REST Image Uploader</h1>

<style>
#custom-design {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

#custom-design td, #custom-design th {
  border: 1px solid #ddd;
  padding: 8px;
}

#custom-design tr:nth-child(even){background-color: #f2f2f2;}

#custom-design tr:hover {background-color: #ddd;}

#custom-design th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

pre {
        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 95%;
        font-style: italic;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
    }       
    
    code {
        font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
        font-size: 95%;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        background: #faf8f0;
    }
    
    #content code {
        display: block;
        padding: 0.5em 1em;
        border: 1px solid #bdb5bc;
    }

</style>
<table id="custom-design">
<thead>
<tr>
<th>SN</th>
<th>Stack</th>
<th style="text-align:center">Technology</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Language</td>
<td style="text-align:center">Python</td>
</tr>
<tr>
<td>2</td>
<td>Framework</td>
<td style="text-align:center">Flask</td>
</tr>
<tr>
<td>3</td>
<td>Container</td>
<td style="text-align:center">Docker</td>
</tr>
<tr>
<td>4</td>
<td>Orchestrator</td>
<td style="text-align:center">Docker Compose</td>
</tr>
</tbody>
</table>
<h2> Installing Docker and docker-compose</h2>
<p> Install docker using the commands</p>
<pre> curl -fsSL https://get.docker.com | sh && sudo usermod -aG docker $USER</pre>
<p>Install docker-compose as </p>
<pre>sudo apt-get install -y docker-compose</pre>

<h2>Service Details</h2>

<p>This is a service to upload images to <a href="https://www.imgur.com">imgur.com</a> via its api endpoints. It tasks json object to upload the image ashychronosly. It implements <a href="http://www.celeryproject.org/">celery</a> queue with <a href="https://redis.io/">Redis</a> to perform the ashynchronity of the tasks. </p>
<p>First of all, register an app in <a href="https://api.imgur.com/oauth2/addclient">imgur</a> and get a <strong>Client-ID</strong> and add the id to <a href="celery-queue/tasks.py">celery-queue/tasks.py</a></p>
<pre><code class="lang-python">

Client_ID = <span class="hljs-string">'XXXXXXXX'</span>

celery = Celery(<span class="hljs-string">'tasks'</span>, broker=CELERY_BROKER_URL,
                backend=CELERY_RESULT_BACKEND)


</code></pre>
<h3 id="installation">Installation</h3>
<pre><code class="lang-bash">git <span class="hljs-keyword">clone</span> <span class="hljs-title">https</span>://github.com/Becram/imgur-image-uploader-service
</code></pre>
<h3 id="build-launch">Build &amp; Launch</h3>
<pre><code class="lang-bash"><span class="hljs-keyword">cd</span> imgur-image-uploader-service
docker-compose  <span class="hljs-keyword">up</span> --build
</code></pre>
<p>This will expose the Flask application&#39;s endpoints on port <code>8080</code> as well as a <a href="https://github.com/mher/flower">Flower</a> server for monitoring workers on port <code>5555</code></p>
<p>To add more workers:</p>
<pre><code class="lang-bash"><span class="hljs-comment">docker</span><span class="hljs-literal">-</span><span class="hljs-comment">compose</span> <span class="hljs-comment">up</span> <span class="hljs-literal">-</span><span class="hljs-comment">d</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">scale</span> <span class="hljs-comment">worker=5</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">no</span><span class="hljs-literal">-</span><span class="hljs-comment">recreate</span>
</code></pre>

<h2 style="color:#069">Service can be accessed at localhost:8080</h2>
<h2 id="rest-api-image-upload-endpoints">Rest API Image upload endpoints</h2>
<h3 id="submit-image-urls-for-upload">Submit image URLs for upload</h3>
<p>Submits a request to upload a set of image URLs to Imgur. The images will be uploaded to the configured Imgur, viewable by anyone with the link.
Request</p>
<pre><code><span class="hljs-symbol">POST</span> /<span class="hljs-built_in">v1</span>/images/upload
</code></pre><p>The request is just a JSON body, no query parameters.
Request body
Attributes:</p>
<ul>
<li>urls: An array of URLs to images that will be uploaded. Duplicates should be stripped out.</li>
</ul>
<p>Example request body:</p>
<pre><code class="lang-json">{
<span class="hljs-attr">"urls"</span>: [
    <span class="hljs-string">"https://farm3.staticflickr.com/2879/11234651086_681b3c2c00_b_d.jpg"</span>,
    <span class="hljs-string">"https://farm4.staticflickr.com/3790/11244125445_3c2f32cd83_k_d.jpg"</span>,     
     <span class="hljs-string">"https://www.rollingstone.com/wp-content/uploads/2019/04/notre-dame-rebuild.jpg"</span>,
     <span class="hljs-string">"https://media2.s-nbcnews.com/j/newscms/2019_16/2823376/190416-notre-dame-fire-mn-0740_4917dcab40d35a0c8da7db09fc8a0aa8.f-760w.jpg"</span>,
     <span class="hljs-string">"https://www.welcomenepal.com/uploads/slider/visit-nepal-year-2020-ntb-dmo-site-banner.jpeg"</span>,
     <span class="hljs-string">"https://www.welcomenepal.com/uploads/activity/pashupatinath-pilgrimage-tour-in-kathmandu-nepal.jpeg"</span>,
     <span class="hljs-string">"https://www.welcomenepal.com/uploads/slider/kathmandu-valley-nepal.jpeg"</span>,
     <span class="hljs-string">"http://www.welcomenepal.com/uploads/art_oy_kathmandu.jpg"</span>

]
}
</code></pre>
<p>Response
On success, returns immediately with an appropriate status code with the id of the job.</p>
<p>Response body
Attributes:</p>
<ul>
<li>jobId: The id of the upload job that was just submitted.</li>
</ul>
<p>Example response body:</p>
<pre><code class="lang-json">{
<span class="hljs-attr">"jobId"</span>: <span class="hljs-string">"55355b7c-9b86-4a1a-b32e-6cdd6db07183"</span>,
}
</code></pre>
<h2 id="gets-the-status-of-an-upload-images-job-">Gets the status of an upload images job.</h2>
<p>Request</p>
<pre><code>GET <span class="hljs-regexp">/v1/im</span>ages<span class="hljs-regexp">/upload/</span>:jobId
</code></pre><p>The request has no body and no query parameters. :jobId is an ID returned from the POST upload images API.</p>
<p>Request body: None</p>
<p>Response
On success, returns immediately with an appropriate status code with the id of the job.</p>
<p>Response body
Attributes:</p>
<ul>
<li>id: The id of the upload job.</li>
<li>created: When job was created. In ISO8601 format (YYYY-MM-DDTHH:mm:ss.sssZ) for GMT.</li>
<li>finished: When job was completed. In same format as created. Is null, if status is not complete.</li>
<li>status: The status of the entire upload job. Is one of:</li>
<li>pending: indicates job has not started processing.</li>
<li>in-progress: job has started processing.</li>
<li>complete: job is complete.</li>
<li>uploaded: An object of arrays containing the set of URLs submitted, in several arrays indicating the status of that image URL upload (pending, complete, failed).</li>
</ul>
<p>Example response body:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"created"</span>: <span class="hljs-string">"2019-04-22T03:00:49.447098"</span>,
  <span class="hljs-attr">"finished"</span>: <span class="hljs-literal">null</span>,
  <span class="hljs-attr">"id"</span>: <span class="hljs-string">"470f0516-b31f-4d14-8f87-77a5282bfe2f"</span>,
  <span class="hljs-attr">"status"</span>: <span class="hljs-string">"in-progres"</span>,
  <span class="hljs-attr">"uploaded"</span>: {
    <span class="hljs-attr">"completed"</span>: [
      <span class="hljs-string">"https://i.imgur.com/YV08tTg.jpg"</span>
    ],
    <span class="hljs-attr">"failed"</span>: [

    ],
    <span class="hljs-attr">"pending"</span>: <span class="hljs-string">"https://www.rollingstone.com/wp-content/uploads/2019/04/notre-dame-rebuild.jpg"</span>
  }
}
</code></pre>
<h2 id="get-list-of-all-uploaded-image-links">Get list of all uploaded image links</h2>
<p>Gets the links of all images uploaded to Imgur. These links will be accessible by anyone.
Request</p>
<pre><code><span class="hljs-symbol">GET</span> /<span class="hljs-built_in">v1</span>/images
</code></pre><p>The request has no body and no query parameters.
Request bodyNone
Response
On success, return an array of the Imgur links to the successfully uploaded images. 
Response body
Attributes:</p>
<ul>
<li>uploaded: An array of the Imgur links to the uploaded images.
Example response body:<pre><code class="lang-json">{
<span class="hljs-attr">"uploaded"</span>: [
  <span class="hljs-string">"https://i.imgur.com/0i6HX3D.jpg"</span>,
  <span class="hljs-string">"https://i.imgur.com/q3urwVe.jpg"</span>,
  <span class="hljs-string">"https://i.imgur.com/uYdqs4i.jpg"</span>,
  <span class="hljs-string">"https://i.imgur.com/pa8eBQv.jpg"</span>,
  <span class="hljs-string">"https://i.imgur.com/mepUIVg.jpg"</span>,
  <span class="hljs-string">"https://i.imgur.com/1hNaxiY.jpg"</span>,
  <span class="hljs-string">"https://i.imgur.com/6AM3sJb.jpg"</span>
]
}
</code></pre>
</li>
</ul>
<h2 id="to-shut-down-">To shut down:</h2>
<pre><code class="lang-bash"><span class="hljs-attribute">docker-compose down</span>
</code></pre>
<p>To change the endpoints, update the code in <a href="api/app.py">api/app.py</a></p>
<h2 id="to-do-">TO-DO:</h2>
<ul>
<li>There is some issue in updation of the completed list which can be fixed using external datastore.</li>
<li>Add production mode</li>
</ul>
